# PostgreSQL
POSTGRES_DB=rectification_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=rectification-db
POSTGRES_PORT=5432

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://rectification-db:5432/rectification_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
SPRING_FLYWAY_REPAIR_ON_MIGRATE=true
